$color-primary: #b881fc;
$secondary-primary: #fff;
$icon-color: #40b7ad;

html,
body {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

i {
  color: $icon-color;
}

.list-group-item span {
  padding-right: 0.8rem;
}

@media only screen and (max-width: 600px) {
  .col-md-3 {
    width: 70%;
  }
}

.productivity-nav {
  background: #ddd;
  margin-top: 0;
}

.form-control {
  padding: 30px 0;
  border-radius: 0;
}

#search_wrapper {
  bottom: 10%;
  width: 1170px;
  z-index: 100;
  background-color: transparent;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: 0px auto;
}

.btn-primary {
  background-color: $color-primary;
  border-color: $color-primary;
}

.lnk-primary {
  color: #b881fc;
}

/* body {
  font-family: Lato, sans-serif;
  font-size: 12pt;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


nav {
  font-weight: 300;
}

nav.navbar-brand-bg {
  background-color: #b881fc;
}
.navbar-brand-bg .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
}
.navbar-brand-bg .nav-item:hover .nav-link {
  color: #b881fc;
}
*/
/* footer */

footer.site-footer {
  margin-top: 2rem;
  font-weight: 300;
  background-color: #b881fc;
  min-height: 100px;
  background-image: linear-gradient(#b881fc, white);
  padding: 20px 0;
}

footer,
footer a,
footer a:hover {
  color: #fff;
  padding: 1em;
}

.fa-cog {
  color: white;
}

.site-footer.a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.brand-text {
  font-weight: 700;
}

.copyright {
  font-size: 0.8em;
}

.section-heading {
  color: #b881fc;
}

.bookingContainer {
  background-color: rgba(129, 129, 129, 0.4);
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  z-index: 100;
  width: 85%;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  height: 60px;
}

.jumbo-caption {
  position: absolute;
  bottom: 5rem;
  z-index: 100;
  width: 90%;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  height: 50px;
}
.jumbo-img {
  width: 100vw;
  height: 65vh;
  object-fit: cover;
}
.secondary-large {
  color: $secondary-primary;
  font-weight: bold;
  font-size: 45px;
  padding-left: 0;
  margin-left: 0;
}

.secondary-small {
  color: $secondary-primary;
  font-size: 20px;
}

.primary-medium {
  color: $color-primary;
  font-size: 40px;
  font-weight: bold;
  font-size: 3rem;
}

.fontAwesome {
  font-family: Helvetica, "FontAwesome", sans-serif;
}

.list-inline li {
  font-size: 1.2rem;
  color: gray;
}

.fa-home,
.fa-building,
.fa-users,
.fa-bed {
  color: gray;
}
.form-control {
  margin-top: 15px;
  width: 95%;
  padding: 15px;
  border-radius: 3px;
}

#guests.form-control {
  width: 70%;
}

.btn-main {
  color: white;
  background: $color-primary;
  border: 1px solid $color-primary;
}

select#guests {
  height: auto;
  line-height: 12px;
  padding: 6px;
}

#submit-button {
  margin-top: 15px;
  width: 70%;
  padding: 4px;
  border-radius: 3px;
}
